include layout

.container
			.starter-template
				h1 Welcome to the SkyRider website 
				p.lead
					| Use this website to display the temprature graph.
					br
					|  Just decide between DB or Online.
    


  

